html,
body {
  overflow-y: auto;
  overscroll-behavior: contain;
  background-color: #212529 !important;
}

.flashcard-content {
  margin-top: 1rem;
}

.card-wrapper {
  width: 18rem;
  height: 25rem;
}

.card-name {
  text-align: center;
}

.flip-card {
  cursor: pointer;
  /* allow 3d transformations so front/back can be layered */
  transform-style: preserve-3d;
  transition: transform 0.4s ease-in-out;
}

/* gives a natural 3d look */
.flip-card-container {
  perspective: 900px;
}

/* shared styles for both front and back */
.card-face {
  background-color: #0d6efd;
  color: white;
  border-radius: 1rem;
  /* prevent the 'back' side from showing */
  backface-visibility: hidden;
  padding: 1rem;
  font-size: 1.5rem;
}

.card-face.back {
  transform: rotateY(180deg);
}

.country-label {
  top: 0.5rem;
  left: 0.75rem;
  font-size: 0.75rem;
  opacity: 0.75;
  text-transform: uppercase;
}

.flag-label {
  bottom: 0.5rem;
  right: auto;
  width: 120px;
  height: auto;
}

.deck-label {
  bottom: 0.5rem;
  left: auto;
  font-size: 0.75rem;
  opacity: 0.75;
  text-transform: uppercase;
}

.focus-label {
  top: -2.2rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  background-color: #115db5;
  padding: 0.2rem 1rem 0.2rem 0.5rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 100px;
  clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 50%, 100% 100%, 0 100%);
}

.modal-backdrop {
  display: none !important;
}

.input-group-text {
  background-color: #212529;
  border: none;
  color: white;
}

.searchBox-container {
  height: 48px; /* reserve space to avoid jerky movement of card  */
}
.searchBox-container .input-group {
  max-width: 400px;
  padding: 1rem 1rem 0 0;
}

.searchBox-container .btn {
  padding: 1rem 1.7rem 0 0;
}

.custom-search {
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #948d8d;
  caret-color: #28b352;
}

.custom-search:focus {
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border-bottom-color: #948d8d;
  color: white;
  font-weight: 100;
}

.custom-search::placeholder {
  color: #948d8d;
}

.list-group-item {
  background-color: #212529dd;
  border: none;
  color: white;
  cursor: pointer;
}

/* search results - capitals */
.text-muted {
  color: white !important;
}
@media screen and (min-width: 768px) {
  .full-height {
    height: var(--app-height);
  }

  .flashcard-content {
    margin-top: -4rem;
  }

  .searchBox-container .input-group {
    padding: 1rem 1rem 0 0;
  }
}
