.quiz-wrapper {
  width: 18rem;
  height: 25rem;
}

.quiz-container {
  background-color: #0d6efd;
  color: white;
  border-radius: 1rem;
  /* prevent the 'back' side from showing */
  backface-visibility: hidden;
  padding: 1rem;
  font-size: 1.5rem;
}

.btn-dark {
  background-color: rgb(91, 97, 97) !important;
  border: none !important;
}

.quiz-question {
  font-size: 1rem;
  margin-bottom: 10px;
}

.quiz-flag {
  width: 130px;
  height: auto;
  margin-bottom: 10px;
}
