.navbar {
  color: white;
}

.navbar .navbar-toggler,
.navbar .navbar:focus {
  border: none !important;
  box-shadow: none !important;
}

.nav-brand {
  cursor: pointer;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2328b352' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.btn-styled {
  background-color: #28b352 !important;
  width: 120px;
  border: none !important;
}

.pointer {
  cursor: pointer;
}

.modal-open {
  padding-right: 0 !important;
}

@media (max-width: 767.98px) {
  #navbarMenu {
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 1 !important;
    padding-bottom: 1rem;
    background-color: #212529dd !important;
  }

  .nav-title {
    font-size: 1rem !important;
    margin-top: 5px !important;
  }

  .dropdown-item {
    text-align: center !important;
  }

  .dropdown-menu {
    background-color: #21252910 !important;
    border: none !important;
  }

  /* Prevent 'group by' button from shifting to the left when clicked */
  .dropdown-toggle.show {
    margin-left: 20px;
  }
}
